<div class="wrapper">
  <div class="container greeting">
    <h3>
      <span class="left">Hi, there!</span>
      <span class="right">I'm Massim</span>
      <span class="left">a fullstack</span>
      <span class="right">developer</span>
    </h3>
    <div class="arrow bounce">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="head">
    <h4>About me..</h4>
  </div>
  <div class="bio">
    <p>I'm a simple guy who got the coding bug. I started off in accounting, but I've always had a passion for tech. Ended developing a super basic app in Swift and decided to take up coding since I liked it so much.</p>
  </div>
  <div class="head">
    <h4>Things I've worked on..</h4>
  </div>
  <%= partial 'partials/projects' %>
  <div class="head">
    <h4>Contact me..</h4>
  </div>
  <div class="contact">
    <div class="contact-button">
      <a href="mailto:massimshah@hotmail.com"><i class="fas fa-envelope"></i></a>
    </div>
    <div class="contact-button">
      <a href="https://www.linkedin.com/in/massimshah/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="contact-button">
      <a href="https://github.com/massim0356" target="_blank"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
</div>
