<div class="wrapper">
  <div class="container greeting">
    <h3>
      <span class="left">Hi, there!</span>
      <span class="right">I'm Massim</span>
      <span class="left">a fullstack</span>
      <span class="right">developer</span>
    </h3>
    <div class="arrow bounce">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <div class="head">
    <h4>About me..</h4>
  </div>
  <div class="bio">
    <p>I'm a simple guy who got the coding bug. I started off in accounting, but I've always had a passion for tech. Ended developing a super basic app in Swift and decided to take up coding.</p>
  </div>
  <div class="head">
    <h4>Things I've worked on..</h4>
  </div>
</div>
